@import "~variables"
.q-timeline
  .q-timeline-entry
    .q-timeline-subtitle
      margin-bottom 0

.users-container
  display inline-flex
  flex-direction row-reverse
  padding-left 7vw
  .user-content
    position relative
    margin-left -7vw
    width 15vw
    max-height 15vw
    transition margin-left .3s, width .3s .3s
    border-radius 15vw
    display flex
    background-color white
    &:not(:last-of-type):hover
      margin-left 0
      width 50vw
      .user-detail
        visibility visible
        opacity 1
        transform translateX(-15%)
    &:last-of-type:hover
      width 50vw
      .user-detail
        visibility visible
        opacity 1
        transform translateX(-15%)
    .user-picture
      position relative
      z-index 10
      border 2px solid white
      border-radius 50%
      max-width 15vw
    .user-detail
      visibility hidden
      opacity 0
      position relative
      z-index 5
      height 15vw
      min-width 35vw
      margin-right 7vw
      transform: translateX(-100%);
      padding 5px 5px 5px 6vw
      font-size 11px
      line-height 13px
      transition transform .3s .4s, opacity .1s .5s
      .q-btn
        display block
        padding 2px 6px
        min-height 2em
        margin-top 4px
        box-shadow none


