@import '~variables'

/*
 * app global css
 */

body
  background $tertiary

h3:first-of-type
  margin-top 0
  @media screen and (max-width: 767px)
    line-height 30px


// Animations
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0)
  }
}

// Layout
.q-layout-page
  animation: .3s ease-out 0s 1 slideInFromLeft;
.q-layout-header
  box-shadow 0 2px 2px -1px rgba(0,0,0,0.1), 0 4px 2px rgba(0,0,0,0.07), 0 1px 5px rgba(0,0,0,0.06)
  .q-toolbar-subtitle
    opacity 1
    color $secondary
.q-layout-footer
  box-shadow 0 -2px 2px -1px rgba(0,0,0,0.1), 0 -4px 2px rgba(0,0,0,0.07), 0 -1px 5px rgba(0,0,0,0.06)
  .q-tab-label
    font-size: 0.7rem

// List
.q-list
  background $ligth
  .q-list-header
    font-size 16px
    color #000000
  .q-item-separator-component
    margin 0


/*
 * SPECIFIC
 */



// map
GmapMap
  width 100%
  height auto

.search-form
  display flex
  justify-content space-between


// validate route
.btn-validateroute
  margin-top 25px



.bg-facebook
  background-color $facebook
.bg-twitter
  background-color $twitter
.bg-github
  background-color $github
.bg-google
  background-color $google
